* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
body {
    background-color: #E8DFCA;
    min-height: 90vh;
    margin: 0;
    padding: 2rem;
    padding-top: 1rem;
}

.view-options {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    background-color: #F5EFE6;
    border-radius: 12px;
    padding: 0.75rem 0;
}
.view-options > button {
    font-size: 1.75rem;
    font-weight: 600;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
}
.view-options > button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #6D94C5;
    transition: transform 0.25s ease-out;
    transform-origin: bottom center;
}
.view-options > button:hover::after {
    transform: scale(1);
    transform-origin: bottom center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 8%;
}
#search-bar {
    font-size: 1rem;
    border-radius: 15px;
    padding: 10px;
    min-width: 30vw;
    background-color: #F5EFE6;
}
#search-btn {
    padding: 12px 15px;
    border-radius: 15px;
    color: #eceef3;
    background-color: #6D94C5;
}
#search-btn:hover {
    background-color: #688dbb;
    cursor: pointer;
}

.main-container {
    display: flex;
    justify-content: flex-end;
    gap: 1.1rem;
}

.explorer {
    width: 100%;
    height: 80vh;
    background-color: #F5EFE6;
    border-radius: 12px;
    box-shadow: 0 4px 12px #6565650d;
    padding: 0.5rem 2rem;
}

.filesystem {
    display: flex;
    height: 85%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow: auto;
    user-select: none;
}
.filesystem.file-open {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.filesystem > div {
    width: 95%;
    border-radius: 5px;
    box-shadow: 0 4px 12px #6565650d;
    background-color: #E8DFCA;
    transition: background-color 0.2s;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filesystem > div:hover {
    background-color: #e2dac6;
}
.filesystem .image, .filesystem .video {
    background-color: #d6d1c4;
}
.filesystem .image:hover, .filesystem .video:hover {
    background-color: #cdcac0;
}
.delete-file-btn {
    background-color: #ff7b7b;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.media-back-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.filesystem .view-image {
    /* align-self: center; */
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.filesystem .view-video {
    /* align-self: center; */

}

.filesystem .table-div {
    display: grid;
    gap: 1px;
    border-radius:5px ;
    box-shadow: 0 4px 12px #6565650d;
    overflow: auto;
}
.filesystem .grid-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CBDCEB;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #424242;
    border-radius: 1px;
    border-right: 1px solid #3d3d3d;
}

.filesystem .grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color:  #e6dcc3ab ;
    border-bottom: 0.1px solid #393939;
    border-right: 0.1px solid #3d3d3d;
}

.upload-form {
    background-color: #F5EFE6;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px #6565650d;
    text-align: center;
    width: 100%;
    max-width: 350px;
}
.upload-form h2 {
    margin-top: 0; color: #3b3f44;
}
.form-group {
    margin-bottom: 1.5rem;
}
.file-input {
    display: none;
}
.drop-area {
    display: inline-block;
    padding: 40px 80px;
    border: 2px dashed #ccc;
    background-color: #CBDCEB;
    color: #3e4343;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s;
}
.drop-area:hover, .drop-area.hover {
    background-color: #b6cce1;
    cursor: pointer;
}
.file-label {
    cursor: pointer;
}
.file-name {
    display: block;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.file-item {
    margin: 5px 0;
    text-align: center;
}

.file-item:hover {
    color: #ff5353;
}
.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #6D94C5;
    color: #eceef3;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.2s;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #5c84b5;
}
.submit-btn:disabled {
    background-color: #68707b;
    cursor: not-allowed;
}
#progress-bar {
    background-color: #F5EFE6;
    height: 0.9rem;
    width: 100%;
    margin-top: 1rem;
    border-radius: 5px;
    border: 2px solid #65656555;
    -webkit-appearance: none;
    appearance: none;
}
#progress-bar::-webkit-progress-bar {
    background-color: #F5EFE6;
}
#progress-bar::-webkit-progress-value {
    border-radius: 5px;
}
#progress-bar::-moz-progress-bar {
    border-radius: 5px;
}
#progress-bar.upload::-webkit-progress-value {
    background-color: #a6e17a;
}
#progress-bar.upload::-moz-progress-bar {
    background-color: #a6e17a;
}
#progress-bar.process::-webkit-progress-value {
    background-color: #7d78e3;
}
#progress-bar.process::-moz-progress-bar {
    background-color: #7d78e3;
}
#progress-bar.error::-webkit-progress-value {
    background-color: #e37878;
}
#progress-bar.error::-moz-progress-bar {
    background-color: #e37878;
}
/* This is where the results will appear */
#results-container {
    background-color: #F5EFE6;
    margin-top: 2rem;
    padding: 0.3rem 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
}
#results-container h3 {
    margin-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
}

.hidden {
    display: none
}









.explorer {
    overflow: auto;
}
.sql-scroll{
    display: flex;
    height: 83%;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    user-select: none;
}

.grid-table {
      display: grid;
      /* border: 1px solid #ccc; */
      /* background: white; */
      /* box-shadow: 0 0 5px rgba(0,0,0,0.1); */
      /* overflow: auto; */
      border:  1px solid #3d3d3d;
      border-radius:5px ;
    }

.grid-header {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ebdcba;
      /* color: white; */
      font-weight: bold;
      padding: 10px;
      text-transform: uppercase;
      border-bottom: 1px solid #424242;
      border-radius: 1px;
      border-right: 1px solid #3d3d3d;
    }

    .grid-cell {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background-color:  #e6dcc3ab ;
      border-bottom: 0.1px solid #393939;
      border-right: 0.1px solid #3d3d3d;
    }
    .grid-cell:hover {
    background-color: #e6dcc3ab;
}